doctype html
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="renderer",content="webkit")
        meta(name="viewport",content="width=device-width, user-scalable=no")
        title 河马物流
        link(href=relativeRoot + "../css/common/base.min.css",type="text/css",rel="stylesheet")
        link(href=relativeRoot + "../css/component/component.all.min.css",type="text/css",rel="stylesheet")
        link(href=relativeRoot + "../css/manager/index.min.css",type="text/css",rel="stylesheet")
        block stylesheets
        script(type="text/javascript").
            var require = {baseUrl: '#{relativeRoot}' + "../js"};
    body
        script(src=relativeRoot + "../js/lib/require.js")
        script(src=relativeRoot + "../js/base.js")
        script(src=relativeRoot + "../js/main.js")

        .manager-top
            .bg-dark
                .wrapper
                    .wrapper-top
                        .pull-left
                            span 您好，欢迎来到河马物流！
                            a(href="#") 免费注册

                        ul.pull-right
                            li
                                a(href="#") APP下载
                            li
                                a(href="#") 帮助中心
                            li
                                span.ml-12 客服热线：
                                span.orange 400-905-7515
                                span （8:00-17:00）
            .wrapper
                .index-top
                    a(href="#")
                        i.icon-top-logo
                    label.title 欢迎登录
            .clearfix
        .bg-dark
            .wrapper
                block content
        include bottom

